{% extends 'main\base.html' %}
{% load static %}
{% block home_active%}active{% endblock%}
{% block content %}
<section class="bg-no-repeat bg-cover bg-center text-white py-16 px-6 text-center h-[300px]" 
style="background-image: url('{% static 'cover1.jpg' %}')">
    <!-- <h1 class="text-4xl font-extrabold  ">Bienvenue dans la Gestion des Documents des Employés</h1>
    <p class="mt-4 text-lg">Gérez, suivez et partagez facilement les documents des employés.</p> -->
</section>
<div class="container mx-auto py-6 max-w-4xl"> 
    <h1 class="text-3xl font-bold text-center mb-6">Admin Dashboard</h1>
    
    <div class="grid grid-cols-3 gap-6">  
        
        <a href="{% url 'employes' %}" class="card bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow flex flex-col items-center justify-center">
            <i class="fas fa-users text-4xl text-blue-500 mb-4"></i>  
            <h2 class="text-xl font-semibold">Consulter employés</h2>  
        </a>

        <a href="{% url 'documents' %}" class="card bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow flex flex-col items-center justify-center">
            <i class="fas fa-print text-4xl text-green-500 mb-4"></i>
            <h2 class="text-xl font-semibold">Imprimer document</h2>
        </a>
        {% if user.is_admin %}
        <a href="{% url 'page_admin' %}" class="card bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow flex flex-col items-center justify-center">
            <i class="fas fa-users text-4xl text-purple-500 mb-4"></i>
            <h2 class="text-xl font-semibold">Utilisateurs</h2>
        </a>
        {% else %}
        <a href="{% url 'contact_us' %}" class="card bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow flex flex-col items-center justify-center">
            <i class="fas fa-envelope text-4xl text-purple-500 mb-4"></i>
            <h2 class="text-xl font-semibold ">Contactez nous</h2>
        </a>
        {% endif %}
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock %}