{% extends 'main/base.html' %}
{% block admin_active %}active{% endblock %}
{% block content %}
<div class="w-2/4">
    <h2 class="text-2xl font-semibold mb-4">Liste utilisateurs :</h2>
    <div id="myModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex z-40 items-center justify-center hidden">
        <div class="bg-white rounded-lg shadow-lg p-6 w-96">
            <span class="closeBtn text-gray-500 cursor-pointer float-right">&times;</span>
            <h2 class="text-2xl font-bold mb-4">Creer un utilisateur</h2>
            <form method="POST" id="createUserForm" class="bg-white p-6 rounded">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="bg-red-100 text-red-700 p-2 rounded mb-4">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="mb-4">
                    <label class="block text-gray-700" for="matricul">Matricul</label>
                    {{ form.matricul }}
                    {% if form.matricul.errors %}
                        <span class="text-red-600">{{ form.matricul.errors }}</span>
                    {% endif %}
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700" for="password">Password</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <span class="text-red-600">{{ form.password.errors }}</span>
                    {% endif %}
                </div>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Creer compte</button>
            </form>
        </div>
    </div>
</div>

<div id="deleteModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex z-40 items-center justify-center hidden">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
        <span class="closeDeleteBtn text-gray-500 cursor-pointer float-right">&times;</span>
        <h2 class="text-2xl font-bold mb-4">Confirmer la suppression</h2>
        <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
        <div class="flex justify-end mt-4">
            <button id="cancelDeleteBtn" class="bg-gray-300 text-black py-2 px-4 rounded mr-2">Annuler</button>
            <button id="confirmDeleteBtn" class="bg-red-500 text-white py-2 px-4 rounded border " style="background-color:rgb(239 68 68 /1);margin-left: 10px;">Supprimer</button>
        </div>
    </div>
</div>

<div class="border p-4 h-3/4">
    <div class="flex flex-row justify-between">
        <form method="GET" action="">
            <label class="relative inline-block mx-5 w-64">
                <span class="sr-only">Search</span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                </span>
                <input
                    class="placeholder:italic placeholder:text-slate-400 inline bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                    placeholder="rechercher par nom, matricule..."
                    type="text"
                    name="search"
                    value="{{ search_query }}"
                />
            </label>
            <button type="submit" class="h-8 px-2 bg-blue-800 rounded-lg text-white font-semibold">Rechercher</button>
        </form>
        <button id="openModalBtn" class="h-8 bg-blue-800 text-white font-semibold px-4 rounded-lg ml-10">nouveau utilisateur
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 inline-block">
                <path d="M5.25 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM2.25 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM18.75 7.5a.75.75 0 0 0-1.5 0v2.25H15a.75.75 0 0 0 0 1.5h2.25v2.25a.75.75 0 0 0 1.5 0v-2.25H21a.75.75 0 0 0 0-1.5h-2.25V7.5Z" />
            </svg>
        </button>
    </div>
    <div class="h-[300px] overflow-auto">
        <table class="table-fixed w-full">
            <thead class="text-gray-500 sticky top-0 bg-white">
                <tr>
                    <th class="font-normal text-left py-4 px-4">Nom & Prenom</th>
                    <th class="font-normal text-left py-4 px-4">Matricule</th>
                    <th class="font-normal text-left py-4 px-4">Unité</th>
                    <th class="font-normal text-left py-4 px-4">Status</th>
                    <th class="font-normal text-left py-4 px-4">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for utilisateur in page.object_list %}
                {% if utilisateur.matricule.nom %}
                <tr class="border-t border-b">
                    <td class="px-4 py-4 first-letter:uppercase">{{ utilisateur.matricule.nom }} {{ utilisateur.matricule.prenom }}</td>
                    <td class="text-gray-900 px-4 py-4">{{ utilisateur.matricule }}</td>
                    <td class="text-gray-900 px-4 py-4">{{ utilisateur.matricule.unite.desuni }}</td>
                    {% if utilisateur.matricule.status.dessita == "EN ACTIVITE" %}
                    <td class="p-0">
                        <div class="text-green-600 text-center font-medium bg-gray-100 rounded-md w-28">Actif</div>
                    </td>
                    {% else %}
                    <td class="p-0">
                        <div class="text-red-600 text-center font-medium bg-gray-100 rounded-md w-28">{{ utilisateur.matricule.status.dessita }}</div>
                    </td>
                    {% endif %}
                    <td class="text-gray-900 px-4 py-4 place-content-center">
                        <a href="{% url 'profile' utilisateur.matricule %}" class="inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                        </a>
                        <a href="#" class="inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487a2.625 2.625 0 0 0-3.716 0L4.5 13.133V19.5h6.375l8.646-8.646a2.625 2.625 0 0 0 0-3.716L16.863 4.487Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 7.125 16.875 4.5" />
                            </svg>
                        </a>
                        <a href="#" class="text-red-600 inline-block deleteBtn" data-url="{% url 'suprimmer_user' utilisateur.matricule %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                            </svg>
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination-controls mt-4 text-center">
        {% if page.has_previous %}
        <a class="px-2" href="?page={{ page.previous_page_number }}&search={{ search_query }}">Previous</a>
        {% endif %}
        {% for page_num in page_range %}
        <a class="px-2 {% if page.number == page_num %} font-bold {% endif %}" href="?page={{ page_num }}&search={{ search_query }}">{{ page_num }}</a>
        {% endfor %}
        {% if page.has_next %}
        <a class="px-2" href="?page={{ page.next_page_number }}&search={{ search_query }}">Next</a>
        {% endif %}
    </div>
</div>

<script>
    var modal = document.getElementById("myModal");
    var deleteModal = document.getElementById("deleteModal");
    var openModalBtn = document.getElementById("openModalBtn");
    var span = document.getElementsByClassName("closeBtn")[0];
    var closeDeleteBtn = document.getElementsByClassName("closeDeleteBtn")[0];
    var cancelDeleteBtn = document.getElementById("cancelDeleteBtn");
    var confirmDeleteBtn = document.getElementById("confirmDeleteBtn");
    var deleteUrl = '';

    openModalBtn.onclick = function() {
        modal.classList.remove("hidden");
    }

    span.onclick = function() {
        modal.classList.add("hidden");
    }

    closeDeleteBtn.onclick = function() {
        deleteModal.classList.add("hidden");
    }

    cancelDeleteBtn.onclick = function() {
        deleteModal.classList.add("hidden");
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.classList.add("hidden");
        } else if (event.target == deleteModal) {
            deleteModal.classList.add("hidden");
        }
    }

    document.querySelectorAll('.deleteBtn').forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            deleteUrl = this.getAttribute('data-url');
            deleteModal.classList.remove("hidden");
        });
    });

    confirmDeleteBtn.onclick = function() {
        window.location.href = deleteUrl;
    }
</script>
{% endblock %}
