{% extends 'main\base.html' %}
{% block admin_active %}active{% endblock%}
{% block content %}
<h2 class="text-2xl font-semibold mb-4">Create Account</h2>

        <form method="POST" class="bg-white p-6 rounded shadow-lg">
            {% csrf_token %}
            
            <!-- Display errors for non-field issues -->
            {% if form.non_field_errors %}
                <div class="bg-red-100 text-red-700 p-2 rounded mb-4">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="mb-4">
                <label class="block text-gray-700" for="matricul">Matricul</label>
                {{ form.matricul }}  
                {% if form.matricul.errors %}
                    <span class="text-red-600">{{ form.matricul.errors }}</span>
                {% endif %}
            </div>

            <div class="mb-4">
                <label class="block text-gray-700" for="password">Password</label>
                {{ form.password }}  
                {% if form.password.errors %}
                    <span class="text-red-600">{{ form.password.errors }}</span>
                {% endif %}
            </div>

            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Create Account</button>
        </form>
{% endblock %}